 <body>
 <div class="the-loader">
    <div class="the-loader__circle"></div>
    <img
      src="/img/loader-mtg.png"
      class="header__logo-img2"
      alt="logo"
    />
    <div class="the-loader__section the-loader__section_left"></div>
    <div class="the-loader__section the-loader__section_right"></div>
  </div>

  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<section class="section">
	<div class="container">
		<ul class="card__list">
			{{#each cards}}
			<li class="card__item">
				<div class="card__inner">
					<p class="card__inner-title" name="card_name">{{this.cardname}}</p>
					<img class="card__inner-img" src="{{this.img}}" alt="MTG-1">
					<div class="card__list-info">
						<p class="card__list-info__price"><span>Price:</span><i>{{this.price}}$</i></p>
						<p class="card__list-info__city"><span>City:</span><i>{{'City.cityname'}}</i></p>
						<p class="card__list-info__condition"><span>Condition:</span><i>{{'Quality.condition'}}</i></p>
					</div>
					<div class="card__inner-buttons">
						{{#if flag}}
						<button id="deleteCardBtn" data-cardid="{{this.id}}" value="delete">Delete</button>
						<button id="editCardBtn" data-cardid="{{this.id}}" value="">Edit</button>
						{{else}}
						<button>Buy</button>
						{{/if}}
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</section>
</body>
