<body>
	<header class="header">
		<div class="container">

			<div class="header_inner">
				<a class="header__logo" href="/">
					<img class="header__logo-img" src="/img/logo.png" alt="Magic-The-Gathering">
				</a>

				<div class="header_buttons">
					{{#if userId}}
					<button class="btn btn-logout" type="submit" onclick="window.location.href = '/user/:id';">
						{{userName}}
					</button>
					<button class="btn btn-logout" type="submit" onclick="window.location.href = '/card/lot';">
						Sell
					</button>
					<button class="btn btn-logout" type="submit" onclick="window.location.href = '/user/logout';">
						Logout
					</button>

					<a href="#" class="btn btn-cart">
						<i class="fas fa-shopping-cart"></i>
					</a>
					{{else}}
					<button class="btn btn-up" type="submit" onclick="window.location.href = '/user/signup';">
						Registration
					</button>
					<button class="btn btn-in" type="submit" onclick="window.location.href = '/user/signin';">
						Login
					</button>
					{{/if}}
				</div>
			</div>

		</div>
	</header>
	<section class="section">
		<div class="container">
			<ul class="card__list">
				{{#each filterCards}}
				<li class="card__item">
					<div class="card__inner">
						<p class="card__inner-title" name="card_name">{{this.cardname}}</p>
						<img class="card__inner-img" src="{{this.img}}" alt="MTG-1">
						<div class="card__list-info">
							<p class="card__list-info__price"><span>Price:</span><i>{{this.price}}$</i></p>
							<p class="card__list-info__city"><span>City:</span><i>{{'City.cityname'}}</i></p>
							<p class="card__list-info__condition"><span>Condition:</span><i>{{'Quality.condition'}}</i></p>
						</div>
						<div data-cardid="{{this.id}}" class="card__inner-buttons">
							{{#if flag}}
							<button data-type="delete">Delete</button>
							<button>Edit</button>
							{{else}}
							<button>Buy</button>
							{{/if}}
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</section>